.verify__content,
.register-complete__content {
    margin-top: 150px;
}

.register-complete__title,
.register-complete__link {
    text-align: center;
}

.register-complete__link p {
    line-height: 10px;
    margin-bottom: 10px;
}

.register-complete__link a {
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}